
h1 {
	font-weight: bold;
	font-family: "LatoWeb";
	font-size: 96pt;
	text-align: center;
	color: #555;
	margin-bottom: 30px;
}

p {
	text-align: center;
	font-family: "LatoWeb";
	font-size: 20pt;
	color: #555;
}

.center {
	margin: auto;
	width: 700px;
	
}

.swath {
	border-radius: 10px;
	height: 200px;
	margin-bottom: 10px;
	vertical-align: middle; 
  	text-align: center;
  	font-size: 24pt;
	font-family: "LatoWeb";
	width: 340px;
	float: left;
	margin-left: 10px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text:hover {
	color: #555 !important;
}

#perfect {
	background-color: #F3F3F3;
	padding: 6px 12px 6px 12px;
	border-radius: 4px;
	font-family: "LatoWeb";
	font-size: 20pt;
	color: #555;
}
